{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "proseWrap": "never",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
